<ion-header>
  <ion-navbar>
    <ion-title>
      BDSM
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>
  <br>
  <br>
  <br>

  <h5>Latitude : {{ lat }}</h5>
  <h5>Longitude : {{ lng }} </h5>
  <h4 *ngIf="flag=='beh'"> <button ion-button color="danger" full> Danger </button></h4>
  <h4 *ngIf="flag=='nobeh'" color="secondary"> <button ion-button color="secondary" full> Safe </button> </h4>
  <!--button ion-button full color="primary" (click)="addGeofence()"> Add Geofence </button-->
</ion-content>
